<form [formGroup]="PERPROF" (ngSubmit)="SubmitProf()">
    <div class="Contenitore">
        <mat-form-field>
            <mat-select placeholder="Seleziona Il professore" formControlName="SelProf">
              <mat-option *ngFor="let prof of profac" [value]="prof.ID">{{prof.Nome}}</mat-option>
            </mat-select>
            <mat-error *ngIf="PERPROF.controls.SelProf.hasError('required')">
              <strong>Campo richiesto</strong>  
            </mat-error>
        </mat-form-field>
  
      <mat-form-field>
        <mat-select placeholder="Seleziona il giorno" formControlName="SelGiorno" >
          <mat-option *ngFor="let giorno of giorniac" [value]="giorno.ID">{{giorno.Giorno}}</mat-option>
        </mat-select>
        <mat-error *ngIf="PERPROF.controls.SelGiorno.hasError('required')">
          <strong>Campo richiesto</strong>  
        </mat-error>
      </mat-form-field>

      <mat-slide-toggle formControlName="settimana" >Tutta la settimana</mat-slide-toggle>
      <button type="submit" 
      [disabled]="!PERPROF.valid" 
      mat-raised-button 
      >Ricerca!<mat-icon>search</mat-icon></button>
    </div>
    <ng-template [ngIf]="!giorniac" >
      <div class="ErrorMessage">
          Il Database non è momentaneamente raggiungibile, riprovare più tardi.
      </div>
    </ng-template>
</form>
